services:
  frontend:
    image: ghcr.io/nc1107/simple-media-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: ghcr.io/nc1107/simple-media-backend:latest
    ports:
      - "3001:3001"
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
      - DB_PATH=/app/data/media.sqlite

volumes:
  data:
