services:
  frontend:
    image: ghcr.io/nc1107/simple-media-frontend:latest
    ports:
      - "8100:80"
    depends_on:
      - backend

  backend:
    image: ghcr.io/nc1107/simple-media-backend:latest
    ports:
      - "8101:3001"
    volumes:
      - ./data:/app/data
      - /mnt/mPool/tv:/tv:ro
      - /mnt/mPool/movies:/movies:ro
    environment:
      - NODE_ENV=production
      - DB_PATH=/app/data/media.sqlite
      - TV_SHOWS_PATH=/tv
      - MOVIES_PATH=/movies

volumes:
  data:
